@model Shopping.Entity.Models.Sale
@{
    ViewBag.Title = "Sale Screen";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";

    var urunler = ViewBag.Products as List<Shopping.Entity.Models.Product>;
}


<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card mb-4 mt-4">
            <div class="card-header">
                <i class="fa-solid fa-plus"></i> Sale
            </div>
            <div class="card-body">
                <form method="post" action="/Sale/AddToCart">
                    @Html.AntiForgeryToken()

                    <select class="form-control">
                        @foreach (var item in urunler)
                        {
                            <option value="@item.Id">@item.</option>
                        }
                    </select>

                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>

